<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__STATIC__/js/layDate-v5.0.9/laydate/laydate.js"></script>
	<title>报告管理</title>
	<script>
	laydate.render({
	  elem: '#keyword'
	  ,format: 'yyyy年MM月dd日'
	});
    </script>
    	<style>
		a { color:#ccc; text-decoration:none;}
		a:hover { color:#f00;}
	</style>
</head>
<body>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalLabel">
						详细信息
					</h4>
				</div>
				<div id="we" class="modal-body">
					<div>
					    <table class="table" style="margin-top: 10px;">
					        <tr>
					            <td>
					                设备名称:
					            </td>
					            <td>路由器1</td>
					        </tr>
					        <tr>
					            <td>
					                状态:
					            </td>
					            <td>报警</td>
					        </tr>
					        <tr>
					            <td>
					                索引号:
					            </td>
					            <td>182</td>
					        </tr>
					        <tr>
					            <td>
					                接口类型:
					            </td>
					            <td>FE</td>
					        </tr>
					        <tr>
					            <td>
					                不能通过任何数据包的状态:
					            </td>
					            <td>正常</td>
					        </tr>
					        <tr>
					            <td>
					                能通过任何数据包的状态:
					            </td>
					            <td>正常</td>
					        </tr>
					        <tr>
					            <td>
					                端口状态:
					            </td>
					            <td>正常</td>
					        </tr>
					        <tr>
					            <td>
					                发送总字节数:
					            </td>
					            <td>1518</td>
					        </tr>
				        	<tr>
				            	<td>
				                	接收总字节数:
				           	 	</td>
				            	<td>1510</td>
				        	</tr>
				        	<tr>
				           	 	<td>
				                	辅助信息:
				            	</td>
				            	<td></td>
				        	</tr>
				    	</table>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-info center-block" data-dismiss="modal">确定
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
	<div class="panel panel-default">
		<div class="row clearfix">
			<div class="col-xs-12 column">
                {include file="common/header"}
            	{include file="common/nav"}
			</div>
			<div class="col-xs-2 column" style="background-color: #003b72;">
				<ul class="nav nav-pills nav-stacked">
					<li>
						<a href="../../admin/Topology/topology.html">
							<img src="__STATIC__/img/topology.png">
							&nbsp;网络拓补图
						</a>
					</li>
					<li>
						<a href="../../admin/prowl/prowl.html">
							<img src="__STATIC__/img/prowl.png">
							&nbsp;一键巡查
						</a>
					</li>
					<li>
						<a href="../../admin/equipment/equipment.html">
							<img src="__STATIC__/img/equipment.png">
							&nbsp;设备管理
						</a>
					</li>
					<li>
						<a href="../../admin/server/server.html">
							<img src="__STATIC__/img/server.png">
							&nbsp;服务器管理
						</a>
					</li>
					<li class="active">
						<a href="presentation.html">
							<img src="__STATIC__/img/presentation.png">
							&nbsp;报告管理
						</a>
					</li>
					<li>
						<a href="#">
							<img src="__STATIC__/img/safeExit.png">
							&nbsp;安全退出
						</a>
					</li>
				</ul>
			</div>
			<div class=" col-xs-10 column" id="" style="min-height: 100%;">
				<form method="post">
					<div>
						<span>日期：</span>
						<input type="text" id="keyword" name="keyword" style="width: 110px;height: 20px;" placeholder="请选择日期">
						<button type="sumbit" value="查询" style="height: 23px;">查询</button>
					</div>
				</form>
				<table class="table" style="margin-top: 10px;">
					<thead class="bg-success">
						<tr>
							<th>日期</th>
							<th>工作日志</th>
							<th>详细</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>2019年11月15日</td>
							<td>路由器故障</td>
							<td>
								<a id="open" style="color: blue;" href="#">查看详情</a>
							</td>
						</tr>
						<tr>
							<td>2019年11月17日</td>
							<td>防火墙故障</td>
							<td>
								<a style="color: blue;" href="#">查看详情</a>
							</td>
						</tr>
						<tr>
							<td>2019年11月17日</td>
							<td></td>
							<td>
								<a style="color: blue;" href="#">查看详情</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-xs-12 column">
                {include file="common/footer"}
            </div>
		</div>
	</div>
	<script>
		 $(document).ready(function(){
            $("#open").click(function(){
                openIt(); 
            })
            function openIt()
            {
                $('#myModal').modal('show');
                // $("#we").load("{:url('detailed')}"); 
            }     
        });
    </script>
</body>
</html>